<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign Up page</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
 
<body>
    <h1>Personal Diary</h1>
    <p>Enter your new ID and Password and press the Create button.</p> 
    <form action = "" method="post">
        <p>&nbspID : <input type="text" name = "userid"></p>
        <p>PW : <input type="password" name = "password"></p>
        <input class="button" type = "submit" value = "Create"/>
    </form>
</body>
</html>